<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xsl.search.service.mapper.HunterMapper" >
    <select id="getHunterList" resultType="com.xsl.search.service.common.pojo.SearchHunter">
		SELECT
			xsl_hunter.id,
			xsl_hunter.level,
			xsl_hunter.empirical,
			xsl_hunter.taskAccNum,
			xsl_hunter.taskFailNum,
			xsl_hunter.credit,
			xsl_hunter.descr,
			xsl_hunter.lastTime,
			xsl_hunter.state,
			xsl_file.url
		FROM
			xsl_hunter,xsl_file,xsl_user
		WHERE
			xsl_hunter.id = xsl_user.hunterId
		AND
			xsl_user.id = xsl_file.userId
	</select>

    <select id="getHunterById" parameterType="long" resultType="com.xsl.search.service.common.pojo.SearchHunter">
		SELECT
			xsl_hunter.id,
			xsl_hunter.level,
			xsl_hunter.empirical,
			xsl_hunter.taskAccNum,
			xsl_hunter.taskFailNum,
			xsl_hunter.credit,
			xsl_hunter.descr,
			xsl_hunter.lastTime,
			xsl_hunter.state,
			xsl_file.url
		FROM
			xsl_hunter,xsl_file,xsl_user
		WHERE
			id=#{itemid}
		AND
			xsl_hunter.id = xsl_user.hunterId
		AND
			xsl_user.id = xsl_file.userId
	</select>
</mapper>