<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.search.mapper.HunterMapper" >
    <select id="getHunterList" resultType="com.search.common.pojo.SearchHunter">
		SELECT
			id,
			level,
			empirical,
			taskAccNum,
			taskFailNum,
			credit,
			descr,
			lastTime
		FROM
			xsl_hunter
	</select>

    <select id="getHunterById" parameterType="long" resultType="com.search.common.pojo.SearchHunter">
		SELECT
			id,
			level,
			empirical,
			taskAccNum,
			taskFailNum,
			credit,
			descr,
			lastTime
		FROM
			xsl_hunter
		WHERE
			id=#{itemid}
	</select>
</mapper>